

<div class="who-we-are" id="who-we-are">
    <video autoplay muted loop class="myvideo">
            <source src="/img/vidrestou.mp4" type="video/mp4">
          </video>
    <div class="who-we-are-inside">
        
          <div class="p-login">
            <div>
            <h2>TERRACE Restaurant</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates commodi, 
                nisi blanditiis tempora aut dolores quam ducimus quibusdam doloremque eaque. 
                Amet minus, rem pariatur incidunt nulla, aliquid, in vitae cumque similique 
                natus est fugit debitis numquam. Dolorum in laudantium incidunt id modi officia 
                porro at dicta, nemo sed magnam officiis ipsa fugiat sequi excepturi totam 
                laboriosam consectetur, quis quo. Earum.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad libero minus, 
                molestias aperiam quia labore recusandae aspernatur reprehenderit nemo temporibus!</p>
        </div>  </div></div>
    </div>
