<div class="entete"><h1>about us</h1></div>
<div class="who-we-are " id="who-we-are">
    <div class="who-we-are-inside hidden-rev">
    </div>
    <div class="who-we-are-inside hidden--x">
        
       <h1>H&M RES</h1>
       <p>is a neighborhood American restaurant that opened 2007 by Chefs Mike Price & Joey Campanaro, located in the West Village of NYC. Our American farm-to-table menus are influenced by Chef Price's childhood on his family farm in Maryland. Our seasonal menus celebrate the best of market's bounty. Located at the corner of Carmine and Bedford Streets, our airy dining room with floor-to-ceiling windows offer an unparalleled view onto West Village life. Call us at Market Table in NYC today for reservations, questions, or inquiries.</p>
    </div>
</div>