<div class="gallery">
<img class="laft" src="../img/laft.png">
<img class="palm" src="../img/palm.png">
<img class="palm2" src="../img/palm2.png">
<img class="palm3" src="../img/palm3.png">
            

<div class="pic">
    <div class="left">
        <div class="picl1"></div>
    </div>
     <div class="title"><h1 class="h1-gallery">OUR GALLERY</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, similique exercitationem iure deleniti laudantium distinctio minima!</p>
           <!--  <div class="seemore">
            <button class="btn">
                See more
              </button></div> -->
        </div>
    <div class="sec">
       
        <div class="sec1">
            <div class="pic1">
                <img src="../img/pic1.jpg">
            </div>
            <div class="pic2">
                <img src="../img/pic2.jpg">
            </div>
        </div>
        <div class="sec2">
            <div class="pic3">
                <img src="../img/pic3.jpg">
            </div>
            <div class="pic4">               
                 <img src="../img/pic4.jpg">
            </div>
        </div>
    </div>
    <!-- <div class="right">
        <div class="picr1"></div>
    </div> -->
</div>
<div class="discreption">

</div>
</div>