
   <div class="container">
    <div class="slides">
            <img class="slide active" src="/img/img_landing1.jpg"> 
            <img class="slide" src="/img/img_landing2.jpg"> 
            <img class="slide" src="/img/img_landing3.jpg">
            <img class="slide" src="/img/img_landing4.jpg">
            <img class="slide" src="/img/img_landing5.jpg">
        <div class="global-nav">
    <div class="manual-nav">
        <div  class="manual-btn active"></div>
        <div  class="manual-btn"></div>
        <div  class="manual-btn"></div>
        <div  class="manual-btn"></div>
        <div  class="manual-btn"></div>
    </div></div>
   </div>
    <div class="info" id="navbar">
        <div class="intro hidden-intro">
          <div class="h1-intro">  <h1>BEAUTIFUL <br> RESTAURANT</h1></div>
            <p class="desc">Lorem ipsum dolor sit amet, 
                consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, 
                similique exercitationem iure deleniti laudantium distinctio minima!</p>
        </div>
        <div class="reservations hidden-rev">
            <div class="reserve-sect hide">
                
                <form>
                    <div class="select-div">
                        <select name="num-people" class="select-table" id='br-px'>
                            <option value="1">1 person</option><option value="2">2 people</option>
                            <option value="3">3 people</option><option value="4">4 people</option>
                            <option value="5">5 people</option><option value="6">6 people</option>
                        </select> 
                    </div>
                    
                    <div class="select-div">
                        <select name="time" class="select-table" id="time">   
                        </select>
                    </div>
                    
                    <input type="date" class="select-table" id="select-date">
                  <button class="reserve-btn" onclick="backtos()"> Book your table</button> 
                </form>
            </div>
        </div>
    </div></div>
   <script type="text/javascript">
const imgs = document.querySelectorAll(".slide"); 
const btns = document.querySelectorAll(".manual-btn"); 
const infos = document.querySelectorAll(".info"); 

var sliderNav = function(manual){

	imgs.forEach((img)=>{
		img.classList.remove("active");
	});

	btns.forEach((btn)=>{
		btn.classList.remove("active");
	});

	infos.forEach((info)=>{
		info.classList.remove("active");
	});
	btns[manual].classList.add("active");
	imgs[manual].classList.add("active");
	infos[manual].classList.add("active");
}
btns.forEach((btn, i) => {
	btn.addEventListener("click", () =>{
		sliderNav(i);
	});
	});
   </script>