<nav class="navbar" id="navbar">
    <a href="/"><img src="/ressources/terrace-restaurant-logo-vector-removebg-preview.png" alt="restaurant-logo" class="logo"></a> 
    <div class="links">
       
        <a  href="/login" class="login-a">
            <button class="login">log-in</button>
        </a>
        <a href="/signup" class="signup-a">
            <button class="signup">sign-up</button>
        </a>
    </div>
    
</nav>

<div class="info">
    <img style="height:90vh;" src="https://images.pexels.com/photos/958545/pexels-photo-958545.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" id="back-img" alt="">

        </div>
    </div>
</div>
