<nav class="navbar">
    <a href="/indexlogout"><img src="/ressources/terrace-restaurant-logo-vector-removebg-preview.png" alt="restaurant-logo" class="logo"></a> 
    <h1 style="text-transform: uppercase;font-size: medium;">Welcome <%= user.firstName %></h1>
    <div class="links">
         <a href="/menu?cartCreation=false" class="the-menu">MENU</a>
          <a href="#who-we-are" class="about">ABOUT US</a>
         <a href="#staff" class="reserve">STAFF</a>
         <a href="/logout"class="login-a"><button class="login">Logout</button></a>
     </div>
     <div class="toggle">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
     </div>
 </nav>
 <div id="navbar1">
 <div class="info" id="navbar">
     <div class="intro hidden-intro">
         <h1>TERRACE RESTAURANT</h1>
         <p class="desc">Lorem ipsum dolor sit amet, 
             consectetur adipisicing elit. Sapiente, totam? Quae ab necessitatibus, 
             similique exercitationem iure deleniti laudantium distinctio minima!</p>
     </div>
     <div class="reservations hidden-rev">
         <div class="reserve-sect hide">
             <h2 class="h2-landingpage">Reserve your table</h2>
             <form method="post">
                 <div class="select-div">
                     <select name="num-people" class="select-table" id='br-px'>
                         <option value="1">1 person</option><option value="2">2 people</option>
                         <option value="3">3 people</option><option value="4">4 people</option>
                         <option value="5">5 people</option><option value="6">6 people</option>
                     </select> 
                 </div>
                 
                 <div class="select-div">
                     <select name="time" class="select-table" id="time">   
                     </select>
                 </div>
                 
                 <input type="date" class="select-table" id="select-date">
                 <a href="/store_radio_value"> <button class="reserve-btn" type="button" onclick="reserve()"> Book your table</button></a> <!-- type='button' to not fall into the POST error -->‏‏  
             </form>
         </div>
     </div>
 </div></div>
 
        
    