<nav  class="navbar">
    <a style="position: absolute;right: 30px;" href="/"><img style="background-color: aliceblue;border: black 4px;border-radius: 10px;" src="/ressources/terrace-restaurant-logo-vector-removebg-preview.png" alt="restaurant-logo" class="logo"></a> 
     
    
     <div class="toggle">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
     </div>
 </nav>
 