<nav class="navbar">
   <a href="/"><span class="logo">H&M Res</span></a> 
    
   <div class="links">
        <a href="/store_radio_value" class="reserve">Reserve</a>
        <a href="/menu?cartCreation=false" class="the-menu">Menu</a>‏‏
        <a href="#who-we-are" class="about">About us</a>
        <a href="#staff-div" class="reserve">Staff</a> 
        
        <a href="/login" class="login-a">
            <button class="login">LOGIN</button>
        </a>
        <a href="/signup" class="signup-a">
            <button class="signup">SIGN UP</button>
        </a>
    </div>
    <div class="toggle">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
</nav>
