<nav class="navbar" style="background-color: #ffb000; position: sticky;">
    <a href="/"><img src="/ressources/terrace-restaurant-logo-vector-removebg-preview.png" alt="restaurant-logo" class="logo"></a> 
     
    <div class="links">
         <a href="/RESERVE" class="reserve">RESERVE</a>
         <a href="/menu" class="the-menu">MENU</a>
         <a href="#who-we-are" class="about">ABOUT US</a>
         <a href="#staff-div" class="reserve">STAFF</a> 
         
         <a href="/login" class="login-a">
             <button class="login">LOGIN</button>
         </a>
         <a href="/signup" class="signup-a">
             <button class="signup">SIGN UP</button>
         </a>
     </div>
     <div class="toggle">
         <span class="bar"></span>
         <span class="bar"></span>
         <span class="bar"></span>
     </div>
 </nav>