<div class="menu-dv">
    
<div id="menu-div" style="writing-mode:vertical-lr;font-family: 'Dancing Script', cursive;text-orientation:upright; display: flex;justify-content: center;align-items: center; width:8vw;height:90vh;border-right: 1px solid rgb(94, 91, 91);background-color: black;color: white;"><h1 >MENU</h1></div>
</div>    