<div>
    <h1 class="roadmap-title">ROADMAP FOR RESERVATION</h1>
</div>
<div class="roadmap">

<div class="roadmap-inside">
    <div class="checkpoint">
        <div>
        <h3>1 Time , guess</h3>
        <p>First, choose the date, time, and number of guests</p>
    </div>
    </div>
    <div class="checkpoint">
        <div>
        <h3>2 Dining table</h3>
        <p>In the second stage, choose the appropriate seating table for your comfort</p>
    </div>
    </div>
    <div class="checkpoint">
        <div>
        <h3>3 Food, drinks , dessert</h3>
        <p>At this stage you can choose the best food, drinks and desserts available on the menu</p>
    </div>
    </div>
    <div class="checkpoint">
        <div>
        <h3>4 Allergies</h3>
        <p>Out of concern for your health, it is one of our priorities at this stage. You are free to add or remove any ingredient from the food.Out of concern for your health, it is one of our priorities at this stage. You are free to add or remove any ingredient from the food.</p>
    </div>
    </div>
    <div class="checkpoint">
        <div>
        <h3>5 method payment</h3>
        <p>In the final stage, you can choose the appropriate payment method for you, and we guarantee the confidentiality and security of your information</p>
    </div>
    </div>
</div>
</div>