<div class="staff" id="staff">
    <div class="member1 member hidden-rev">
        <div class="member-info">
            <img src="https://images.pexels.com/photos/3814446/pexels-photo-3814446.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="member-info-container">
                <h5 class="name">John Doe</h5>
                <p>5 years of experience across asia, legend and all</p>
            </div>
        </div>
        <h3 class="job">Head chef</h3>
    </div>
    <div class="member2 member hidden-rev">
        
        <div class="member-info">
            <img src="https://images.pexels.com/photos/2102934/pexels-photo-2102934.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="member-info-container">
                <h5 class="name">Clement Rohdes</h5>
                <p>5 years of experience across asia, legend and all</p>
            </div>
            <h3 class="job">Sous-chef</h3>
        </div>
    </div>
    <div class="member1 member hidden-rev">
        <div class="member-info">
            <img src="https://images.pexels.com/photos/1587830/pexels-photo-1587830.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="member-info-container">
                <h5 class="name">Greta Smite</h5>
                <p>5 years of experience across asia, legend and all</p>
            </div>
            <h3 class="job">Sous-chef</h3>
        </div>  
    </div>
    <div class="member2 member hidden-rev">
        <div class="member-info">
            <img src="https://images.pexels.com/photos/2947366/pexels-photo-2947366.jpeg?auto=compress&cs=tinysrgb&w=600" alt="">
            <div class="member-info-container">
                <h5 class="name">Victor Trein</h5>
                <p>5 years of experience across asia, legend and all</p>
            </div>
        </div>
        <h3 class="job">Barista</h3>
    </div>
</div>