           <!DOCTYPE html>
           <html lang="en">
           <head>
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <title>restauplan</title>
        <link rel="stylesheet" href="/css/start.css">
        <link rel="stylesheet" href="/css/menustyle.css">
        <link rel="stylesheet" href="/css/footer.css">
        <link rel="stylesheet" href="/css/store_radio_value.css">
        <link rel="stylesheet" href="/css/gallery.css">
        <svg style="display: none;" class="icon" xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 85 128">
           <path id="large-table"
              d="M 30.62,8.16
                 C 30.62,8.16 29.75,16.31 29.75,16.31
                   29.75,16.31 23.00,16.31 23.00,16.31
                   23.00,16.31 16.25,16.31 16.25,16.31
                   16.25,16.31 16.25,22.46 16.25,22.46
                   16.25,22.46 16.25,28.61 16.25,28.61
                   16.25,28.61 8.12,29.49 8.12,29.49
                   8.12,29.49 0.00,30.37 0.00,30.37
                   0.00,30.37 0.00,40.78 0.00,40.78
                   0.00,40.78 0.00,51.20 0.00,51.20
                   0.00,51.20 8.12,52.08 8.12,52.08
                   8.12,52.08 16.25,52.96 16.25,52.96
                   16.25,52.96 16.25,60.24 16.25,60.24
                   16.25,60.24 16.25,67.51 16.25,67.51
                   16.25,67.51 8.12,68.39 8.12,68.39
                   8.12,68.39 0.00,69.27 0.00,69.27
                   0.00,69.27 0.00,79.69 0.00,79.69
                   0.00,79.69 0.00,90.10 0.00,90.10
                   0.00,90.10 8.12,90.98 8.12,90.98
                   8.12,90.98 16.25,91.86 16.25,91.86
                   16.25,91.86 16.25,101.77 16.25,101.77
                   16.25,101.77 16.25,111.69 16.25,111.69
                   16.25,111.69 23.00,111.69 23.00,111.69
                   23.00,111.69 29.75,111.69 29.75,111.69
                   29.75,111.69 30.62,119.84 30.62,119.84
                   30.62,119.84 31.50,128.00 31.50,128.00
                   31.50,128.00 41.88,128.00 41.88,128.00
                   41.88,128.00 52.25,128.00 52.25,128.00
                   52.25,128.00 53.12,119.84 53.12,119.84
                   53.12,119.84 54.00,111.69 54.00,111.69
                   54.00,111.69 61.38,111.69 61.38,111.69
                   61.38,111.69 68.75,111.69 68.75,111.69
                   68.75,111.69 68.75,101.77 68.75,101.77
                   68.75,101.77 68.75,91.86 68.75,91.86
                   68.75,91.86 76.88,90.98 76.88,90.98
                   76.88,90.98 85.00,90.10 85.00,90.10
                   85.00,90.10 85.00,79.69 85.00,79.69
                   85.00,79.69 85.00,69.27 85.00,69.27
                   85.00,69.27 76.88,68.39 76.88,68.39
                   76.88,68.39 68.75,67.51 68.75,67.51
                   68.75,67.51 68.75,60.24 68.75,60.24
                   68.75,60.24 68.75,52.96 68.75,52.96
                   68.75,52.96 76.88,52.08 76.88,52.08
                   76.88,52.08 85.00,51.20 85.00,51.20
                   85.00,51.20 85.00,40.78 85.00,40.78
                   85.00,40.78 85.00,30.37 85.00,30.37
                   85.00,30.37 76.88,29.49 76.88,29.49
                   76.88,29.49 68.75,28.61 68.75,28.61
                   68.75,28.61 68.75,22.46 68.75,22.46
                   68.75,22.46 68.75,16.31 68.75,16.31
                   68.75,16.31 61.38,16.31 61.38,16.31
                   61.38,16.31 54.00,16.31 54.00,16.31
                   54.00,16.31 53.12,8.16 53.12,8.16
                   53.12,8.16 52.25,0.00 52.25,0.00
                   52.25,0.00 41.88,0.00 41.88,0.00
                   41.88,0.00 31.50,0.00 31.50,0.00
                   31.50,0.00 30.62,8.16 30.62,8.16 Z
                 M 51.25,3.14
                 C 51.25,4.64 49.38,5.02 41.88,5.02
                   34.38,5.02 32.50,4.64 32.50,3.14
                   32.50,1.63 34.38,1.25 41.88,1.25
                   49.38,1.25 51.25,1.63 51.25,3.14 Z
                 M 51.75,8.28
                 C 52.12,9.41 52.50,11.67 52.50,13.30
                   52.50,16.19 52.25,16.31 41.88,16.31
                   31.50,16.31 31.25,16.19 31.25,13.30
                   31.25,6.90 32.12,6.27 41.88,6.27
                   49.00,6.27 51.13,6.65 51.75,8.28 Z
                 M 16.25,40.78
                 C 16.25,51.20 16.12,51.45 13.25,51.45
                   6.88,51.45 6.25,50.57 6.25,40.78
                   6.25,31.00 6.63,30.37 12.88,30.24
                   12.88,30.24 16.25,30.12 16.25,30.12
                   16.25,30.12 16.25,40.78 16.25,40.78 Z
                 M 76.75,30.87
                 C 78.38,31.50 78.75,33.63 78.75,40.78
                   78.75,50.57 78.12,51.45 71.75,51.45
                   68.88,51.45 68.75,51.20 68.75,40.78
                   68.75,30.37 68.88,30.12 71.75,30.12
                   73.38,30.12 75.62,30.49 76.75,30.87 Z
                 M 5.00,40.78
                 C 5.00,48.31 4.62,50.20 3.12,50.20
                   1.62,50.20 1.25,48.31 1.25,40.78
                   1.25,33.25 1.62,31.37 3.12,31.37
                   4.62,31.37 5.00,33.25 5.00,40.78 Z
                 M 83.75,40.78
                 C 83.75,48.31 83.38,50.20 81.88,50.20
                   80.38,50.20 80.00,48.31 80.00,40.78
                   80.00,33.25 80.38,31.37 81.88,31.37
                   83.38,31.37 83.75,33.25 83.75,40.78 Z
                 M 16.25,79.69
                 C 16.25,90.10 16.12,90.35 13.25,90.35
                   6.88,90.35 6.25,89.47 6.25,79.69
                   6.25,69.90 6.63,69.27 12.88,69.15
                   12.88,69.15 16.25,69.02 16.25,69.02
                   16.25,69.02 16.25,79.69 16.25,79.69 Z
                 M 76.75,69.77
                 C 78.38,70.40 78.75,72.53 78.75,79.69
                   78.75,89.47 78.12,90.35 71.75,90.35
                   68.88,90.35 68.75,90.10 68.75,79.69
                   68.75,69.27 68.88,69.02 71.75,69.02
                   73.38,69.02 75.62,69.40 76.75,69.77 Z
                 M 5.00,79.69
                 C 5.00,87.22 4.62,89.10 3.12,89.10
                   1.62,89.10 1.25,87.22 1.25,79.69
                   1.25,72.16 1.62,70.27 3.12,70.27
                   4.62,70.27 5.00,72.16 5.00,79.69 Z
                 M 83.75,79.69
                 C 83.75,87.22 83.38,89.10 81.88,89.10
                   80.38,89.10 80.00,87.22 80.00,79.69
                   80.00,72.16 80.38,70.27 81.88,70.27
                   83.38,70.27 83.75,72.16 83.75,79.69 Z
                 M 52.50,114.70
                 C 52.50,121.10 51.63,121.73 41.88,121.73
                   32.12,121.73 31.25,121.10 31.25,114.70
                   31.25,111.81 31.50,111.69 41.88,111.69
                   52.25,111.69 52.50,111.81 52.50,114.70 Z
                 M 51.25,124.86
                 C 51.25,126.37 49.38,126.75 41.88,126.75
                   34.38,126.75 32.50,126.37 32.50,124.86
                   32.50,123.36 34.38,122.98 41.88,122.98
                   49.38,122.98 51.25,123.36 51.25,124.86 Z" />
      </svg>
        <svg style="display: none;" class="icon" xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 85 63">
              <path id="small-table"
                 d="M 16.25,13.10
                    C 16.25,13.10 16.25,18.65 16.25,18.65
                      16.25,18.65 8.12,19.53 8.12,19.53
                      8.12,19.53 0.00,20.41 0.00,20.41
                      0.00,20.41 0.00,30.87 0.00,30.87
                      0.00,30.87 0.00,41.33 0.00,41.33
                      0.00,41.33 8.12,42.21 8.12,42.21
                      8.12,42.21 16.25,43.09 16.25,43.09
                      16.25,43.09 16.25,49.27 16.25,49.27
                      16.25,49.27 16.25,55.44 16.25,55.44
                      16.25,55.44 42.50,55.44 42.50,55.44
                      42.50,55.44 68.75,55.44 68.75,55.44
                      68.75,55.44 68.75,49.27 68.75,49.27
                      68.75,49.27 68.75,43.09 68.75,43.09
                      68.75,43.09 76.88,42.21 76.88,42.21
                      76.88,42.21 85.00,41.33 85.00,41.33
                      85.00,41.33 85.00,30.87 85.00,30.87
                      85.00,30.87 85.00,20.41 85.00,20.41
                      85.00,20.41 76.88,19.53 76.88,19.53
                      76.88,19.53 68.75,18.65 68.75,18.65
                      68.75,18.65 68.75,13.10 68.75,13.10
                      68.75,13.10 68.75,7.56 68.75,7.56
                      68.75,7.56 42.50,7.56 42.50,7.56
                      42.50,7.56 16.25,7.56 16.25,7.56
                      16.25,7.56 16.25,13.10 16.25,13.10 Z
                    M 16.25,30.87
                    C 16.25,41.33 16.12,41.58 13.25,41.58
                      6.88,41.58 6.25,40.70 6.25,30.87
                      6.25,21.04 6.63,20.41 12.88,20.29
                      12.88,20.29 16.25,20.16 16.25,20.16
                      16.25,20.16 16.25,30.87 16.25,30.87 Z
                    M 76.75,20.92
                    C 78.38,21.55 78.75,23.69 78.75,30.87
                      78.75,40.70 78.12,41.58 71.75,41.58
                      68.88,41.58 68.75,41.33 68.75,30.87
                      68.75,20.41 68.88,20.16 71.75,20.16
                      73.38,20.16 75.62,20.54 76.75,20.92 Z
                    M 5.00,30.87
                    C 5.00,38.43 4.62,40.32 3.12,40.32
                      1.62,40.32 1.25,38.43 1.25,30.87
                      1.25,23.31 1.62,21.42 3.12,21.42
                      4.62,21.42 5.00,23.31 5.00,30.87 Z
                    M 83.75,30.87
                    C 83.75,38.43 83.38,40.32 81.88,40.32
                      80.38,40.32 80.00,38.43 80.00,30.87
                      80.00,23.31 80.38,21.42 81.88,21.42
                      83.38,21.42 83.75,23.31 83.75,30.87 Z" />
         </svg>
         <svg style="display: none;" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 100 85">
  <path id="m-table"
        d="M 11.88,8.12
           C 11.88,8.12 11.00,16.25 11.00,16.25
             11.00,16.25 5.50,16.25 5.50,16.25
             5.50,16.25 0.00,16.25 0.00,16.25
             0.00,16.25 0.00,42.50 0.00,42.50
             0.00,42.50 0.00,68.75 0.00,68.75
             0.00,68.75 5.50,68.75 5.50,68.75
             5.50,68.75 11.00,68.75 11.00,68.75
             11.00,68.75 11.88,76.88 11.88,76.88
             11.88,76.88 12.75,85.00 12.75,85.00
             12.75,85.00 23.12,85.00 23.12,85.00
             23.12,85.00 33.50,85.00 33.50,85.00
             33.50,85.00 34.38,76.88 34.38,76.88
             34.38,76.88 35.25,68.75 35.25,68.75
             35.25,68.75 42.50,68.75 42.50,68.75
             42.50,68.75 49.75,68.75 49.75,68.75
             49.75,68.75 50.62,76.88 50.62,76.88
             50.62,76.88 51.50,85.00 51.50,85.00
             51.50,85.00 61.88,85.00 61.88,85.00
             61.88,85.00 72.25,85.00 72.25,85.00
             72.25,85.00 73.12,76.88 73.12,76.88
             73.12,76.88 74.00,68.75 74.00,68.75
             74.00,68.75 79.50,68.75 79.50,68.75
             79.50,68.75 85.00,68.75 85.00,68.75
             85.00,68.75 85.00,61.37 85.00,61.37
             85.00,61.37 85.00,54.00 85.00,54.00
             85.00,54.00 92.50,53.12 92.50,53.12
             92.50,53.12 100.00,52.25 100.00,52.25
             100.00,52.25 100.00,41.88 100.00,41.88
             100.00,41.88 100.00,31.50 100.00,31.50
             100.00,31.50 92.50,30.62 92.50,30.62
             92.50,30.62 85.00,29.75 85.00,29.75
             85.00,29.75 85.00,23.00 85.00,23.00
             85.00,23.00 85.00,16.25 85.00,16.25
             85.00,16.25 79.50,16.25 79.50,16.25
             79.50,16.25 74.00,16.25 74.00,16.25
             74.00,16.25 73.12,8.12 73.12,8.12
             73.12,8.12 72.25,0.00 72.25,0.00
             72.25,0.00 61.88,0.00 61.88,0.00
             61.88,0.00 51.50,0.00 51.50,0.00
             51.50,0.00 50.62,8.12 50.62,8.12
             50.62,8.12 49.75,16.25 49.75,16.25
             49.75,16.25 42.50,16.25 42.50,16.25
             42.50,16.25 35.25,16.25 35.25,16.25
             35.25,16.25 34.38,8.12 34.38,8.12
             34.38,8.12 33.50,0.00 33.50,0.00
             33.50,0.00 23.12,0.00 23.12,0.00
             23.12,0.00 12.75,0.00 12.75,0.00
             12.75,0.00 11.88,8.12 11.88,8.12 Z
           M 32.50,3.12
           C 32.50,4.63 30.62,5.00 23.12,5.00
             15.62,5.00 13.75,4.63 13.75,3.12
             13.75,1.62 15.62,1.25 23.12,1.25
             30.62,1.25 32.50,1.62 32.50,3.12 Z
           M 71.25,3.12
           C 71.25,4.63 69.38,5.00 61.88,5.00
             54.38,5.00 52.50,4.63 52.50,3.12
             52.50,1.62 54.38,1.25 61.88,1.25
             69.38,1.25 71.25,1.62 71.25,3.12 Z
           M 33.00,8.25
           C 33.38,9.38 33.75,11.62 33.75,13.25
             33.75,16.12 33.50,16.25 23.12,16.25
             12.75,16.25 12.50,16.12 12.50,13.25
             12.50,6.88 13.38,6.25 23.12,6.25
             30.25,6.25 32.38,6.62 33.00,8.25 Z
           M 71.75,8.25
           C 72.12,9.38 72.50,11.62 72.50,13.25
             72.50,16.12 72.25,16.25 61.88,16.25
             51.50,16.25 51.25,16.12 51.25,13.25
             51.25,6.88 52.12,6.25 61.88,6.25
             69.00,6.25 71.12,6.62 71.75,8.25 Z
           M 91.75,32.00
           C 93.38,32.62 93.75,34.75 93.75,41.88
             93.75,51.37 93.12,52.50 87.38,52.50
             85.25,52.50 85.00,51.50 85.00,41.88
             85.00,32.25 85.25,31.25 87.38,31.25
             88.75,31.25 90.62,31.62 91.75,32.00 Z
           M 98.75,41.88
           C 98.75,49.38 98.38,51.25 96.88,51.25
             95.38,51.25 95.00,49.38 95.00,41.88
             95.00,34.38 95.38,32.50 96.88,32.50
             98.38,32.50 98.75,34.38 98.75,41.88 Z
           M 33.75,71.75
           C 33.75,78.12 32.88,78.75 23.12,78.75
             13.38,78.75 12.50,78.12 12.50,71.75
             12.50,68.88 12.75,68.75 23.12,68.75
             33.50,68.75 33.75,68.88 33.75,71.75 Z
           M 72.50,71.75
           C 72.50,78.12 71.62,78.75 61.88,78.75
             52.12,78.75 51.25,78.12 51.25,71.75
             51.25,68.88 51.50,68.75 61.88,68.75
             72.25,68.75 72.50,68.88 72.50,71.75 Z
           M 32.50,81.88
           C 32.50,83.38 30.62,83.75 23.12,83.75
             15.62,83.75 13.75,83.38 13.75,81.88
             13.75,80.38 15.62,80.00 23.12,80.00
             30.62,80.00 32.50,80.38 32.50,81.88 Z
           M 71.25,81.88
           C 71.25,83.38 69.38,83.75 61.88,83.75
             54.38,83.75 52.50,83.38 52.50,81.88
             52.50,80.38 54.38,80.00 61.88,80.00
             69.38,80.00 71.25,80.38 71.25,81.88 Z" />
</svg>
<svg style="display: none;" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 100 85">
  <path id="ms-table"
        d="M 11.88,8.12
           C 11.88,8.12 11.00,16.25 11.00,16.25
             11.00,16.25 5.50,16.25 5.50,16.25
             5.50,16.25 0.00,16.25 0.00,16.25
             0.00,16.25 0.00,42.50 0.00,42.50
             0.00,42.50 0.00,68.75 0.00,68.75
             0.00,68.75 5.50,68.75 5.50,68.75
             5.50,68.75 11.00,68.75 11.00,68.75
             11.00,68.75 11.88,76.88 11.88,76.88
             11.88,76.88 12.75,85.00 12.75,85.00
             12.75,85.00 23.12,85.00 23.12,85.00
             23.12,85.00 33.50,85.00 33.50,85.00
             33.50,85.00 34.38,76.88 34.38,76.88
             34.38,76.88 35.25,68.75 35.25,68.75
             35.25,68.75 42.50,68.75 42.50,68.75
             42.50,68.75 49.75,68.75 49.75,68.75
             49.75,68.75 50.62,76.88 50.62,76.88
             50.62,76.88 51.50,85.00 51.50,85.00
             51.50,85.00 61.88,85.00 61.88,85.00
             61.88,85.00 72.25,85.00 72.25,85.00
             72.25,85.00 73.12,76.88 73.12,76.88
             73.12,76.88 74.00,68.75 74.00,68.75
             74.00,68.75 79.50,68.75 79.50,68.75
             79.50,68.75 85.00,68.75 85.00,68.75
             85.00,68.75 85.00,42.50 85.00,42.50
             85.00,42.50 85.00,16.25 85.00,16.25
             85.00,16.25 79.50,16.25 79.50,16.25
             79.50,16.25 74.00,16.25 74.00,16.25
             74.00,16.25 73.12,8.12 73.12,8.12
             73.12,8.12 72.25,0.00 72.25,0.00
             72.25,0.00 61.88,0.00 61.88,0.00
             61.88,0.00 51.50,0.00 51.50,0.00
             51.50,0.00 50.62,8.12 50.62,8.12
             50.62,8.12 49.75,16.25 49.75,16.25
             49.75,16.25 42.50,16.25 42.50,16.25
             42.50,16.25 35.25,16.25 35.25,16.25
             35.25,16.25 34.38,8.12 34.38,8.12
             34.38,8.12 33.50,0.00 33.50,0.00
             33.50,0.00 23.12,0.00 23.12,0.00
             23.12,0.00 12.75,0.00 12.75,0.00
             12.75,0.00 11.88,8.12 11.88,8.12 Z
           M 32.50,3.12
           C 32.50,4.63 30.62,5.00 23.12,5.00
             15.62,5.00 13.75,4.63 13.75,3.12
             13.75,1.62 15.62,1.25 23.12,1.25
             30.62,1.25 32.50,1.62 32.50,3.12 Z
           M 71.25,3.12
           C 71.25,4.63 69.38,5.00 61.88,5.00
             54.38,5.00 52.50,4.63 52.50,3.12
             52.50,1.62 54.38,1.25 61.88,1.25
             69.38,1.25 71.25,1.62 71.25,3.12 Z
           M 33.00,8.25
           C 33.38,9.38 33.75,11.62 33.75,13.25
             33.75,16.12 33.50,16.25 23.12,16.25
             12.75,16.25 12.50,16.12 12.50,13.25
             12.50,6.88 13.38,6.25 23.12,6.25
             30.25,6.25 32.38,6.62 33.00,8.25 Z
           M 71.75,8.25
           C 72.12,9.38 72.50,11.62 72.50,13.25
             72.50,16.12 72.25,16.25 61.88,16.25
             51.50,16.25 51.25,16.12 51.25,13.25
             51.25,6.88 52.12,6.25 61.88,6.25
             69.00,6.25 71.12,6.62 71.75,8.25 Z
           M 33.75,71.75
           C 33.75,78.12 32.88,78.75 23.12,78.75
             13.38,78.75 12.50,78.12 12.50,71.75
             12.50,68.88 12.75,68.75 23.12,68.75
             33.50,68.75 33.75,68.88 33.75,71.75 Z
           M 72.50,71.75
           C 72.50,78.12 71.62,78.75 61.88,78.75
             52.12,78.75 51.25,78.12 51.25,71.75
             51.25,68.88 51.50,68.75 61.88,68.75
             72.25,68.75 72.50,68.88 72.50,71.75 Z
           M 32.50,81.88
           C 32.50,83.38 30.62,83.75 23.12,83.75
             15.62,83.75 13.75,83.38 13.75,81.88
             13.75,80.38 15.62,80.00 23.12,80.00
             30.62,80.00 32.50,80.38 32.50,81.88 Z
           M 71.25,81.88
           C 71.25,83.38 69.38,83.75 61.88,83.75
             54.38,83.75 52.50,83.38 52.50,81.88
             52.50,80.38 54.38,80.00 61.88,80.00
             69.38,80.00 71.25,80.38 71.25,81.88 Z" />
</svg>
<svg style="display: none;" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 148 138">
  <path id="c-table"
        d="M 0.00,48.17
           C 0.00,48.17 0.00,78.91 0.00,78.91
             0.00,78.91 7.65,100.11 7.65,100.11
             7.65,100.11 15.30,121.44 15.30,121.44
             15.30,121.44 36.62,129.09 36.62,129.09
             36.62,129.09 57.82,136.75 57.82,136.75
             57.82,136.75 101.09,136.75 101.09,136.75
             101.09,136.75 144.24,136.75 144.24,136.75
             144.24,136.75 144.24,113.54 144.24,113.54
             144.24,113.54 144.24,90.33 144.24,90.33
             144.24,90.33 137.97,90.33 137.97,90.33
             134.58,90.33 131.69,89.70 131.69,89.07
             131.69,88.32 118.40,87.82 94.44,87.82
             94.44,87.82 57.19,87.82 57.19,87.82
             57.19,87.82 47.06,78.94 47.06,78.94
             47.06,78.94 46.31,79.83 46.31,79.83
             46.31,79.83 51.83,84.34 51.83,84.34
             51.83,84.34 56.44,88.57 56.44,88.57
             56.44,88.57 56.44,106.39 56.44,106.39
             56.44,116.17 55.94,124.20 55.44,124.20
             52.43,124.20 26.38,111.94 23.81,110.88
             22.43,108.49 13.80,82.80 13.80,81.29
             13.80,80.79 21.45,80.29 30.73,80.29
             30.73,80.29 47.66,80.29 47.66,80.29
             47.66,80.29 47.66,48.93 47.66,48.93
             47.66,48.93 47.66,17.56 47.66,17.56
             47.66,17.56 23.83,17.56 23.83,17.56
             23.83,17.56 0.00,17.56 0.00,17.56
             0.00,17.56 0.00,48.17 0.00,48.17 Z
           M 46.41,48.93
           C 46.41,48.93 46.41,79.04 46.41,79.04
             46.41,79.04 30.10,79.04 30.10,79.04
             30.10,79.04 13.80,79.04 13.80,79.04
             13.80,79.04 13.80,63.35 13.80,63.35
             13.80,63.35 13.80,47.67 13.80,47.67
             13.80,47.67 7.53,47.67 7.53,47.67
             7.53,47.67 1.25,47.67 1.25,47.67
             1.25,47.67 1.25,33.25 1.25,33.25
             1.25,33.25 1.25,18.82 1.25,18.82
             1.25,18.82 23.83,18.82 23.83,18.82
             23.83,18.82 46.41,18.82 46.41,18.82
             46.41,18.82 46.41,48.93 46.41,48.93 Z
           M 12.54,63.98
           C 12.54,63.98 12.54,79.04 12.54,79.04
             12.54,79.04 7.53,79.04 7.53,79.04
             7.53,79.04 2.51,79.04 2.51,79.04
             2.51,79.04 2.51,63.98 2.51,63.98
             2.51,63.98 2.51,48.93 2.51,48.93
             2.51,48.93 7.53,48.93 7.53,48.93
             7.53,48.93 12.54,48.93 12.54,48.93
             12.54,48.93 12.54,63.98 12.54,63.98 Z
           M 17.56,97.10
           C 17.56,97.10 22.70,112.78 22.70,112.78
             22.70,112.78 39.63,119.43 39.63,119.43
             56.32,126.08 55.73,126.08 55.73,130.09
             55.73,132.35 55.94,134.24 55.44,134.24
             54.06,134.24 17.56,120.81 16.68,120.06
             16.18,119.43 2.25,82.00 2.25,81.00
             2.25,80.75 4.49,81.00 7.12,81.00
             7.12,81.00 12.06,80.88 12.06,80.88
             12.06,80.88 17.56,97.10 17.56,97.10 Z
           M 94.07,107.26
           C 94.07,107.26 94.07,125.45 94.07,125.45
             94.07,125.45 76.51,125.45 76.51,125.45
             76.51,125.45 58.95,125.45 58.95,125.45
             58.95,125.45 58.95,107.26 58.95,107.26
             58.95,107.26 58.95,89.07 58.95,89.07
             58.95,89.07 76.51,89.07 76.51,89.07
             76.51,89.07 94.07,89.07 94.07,89.07
             94.07,89.07 94.07,107.26 94.07,107.26 Z
           M 130.44,107.26
           C 130.44,107.26 130.44,125.45 130.44,125.45
             130.44,125.45 113.51,125.45 113.51,125.45
             113.51,125.45 96.58,125.45 96.58,125.45
             96.58,125.45 96.58,107.26 96.58,107.26
             96.58,107.26 96.58,89.07 96.58,89.07
             96.58,89.07 113.51,89.07 113.51,89.07
             113.51,89.07 130.44,89.07 130.44,89.07
             130.44,89.07 130.44,107.26 130.44,107.26 Z
           M 142.98,113.54
           C 142.98,113.54 142.98,135.49 142.98,135.49
             142.98,135.49 137.34,135.49 137.34,135.49
             137.34,135.49 131.69,135.49 131.69,135.49
             131.69,135.49 131.69,113.54 131.69,113.54
             131.69,113.54 131.69,91.58 131.69,91.58
             131.69,91.58 137.34,91.58 137.34,91.58
             137.34,91.58 142.98,91.58 142.98,91.58
             142.98,91.58 142.98,113.54 142.98,113.54 Z
           M 130.44,131.10
           C 130.44,131.10 130.44,135.49 130.44,135.49
             130.44,135.49 113.51,135.49 113.51,135.49
             113.51,135.49 96.58,135.49 96.58,135.49
             96.58,135.49 96.58,131.10 96.58,131.10
             96.58,131.10 96.58,126.71 96.58,126.71
             96.58,126.71 113.51,126.71 113.51,126.71
             113.51,126.71 130.44,126.71 130.44,126.71
             130.44,126.71 130.44,131.10 130.44,131.10 Z
           M 94.07,131.73
           C 94.07,131.73 94.07,135.49 94.07,135.49
             94.07,135.49 76.51,135.49 76.51,135.49
             76.51,135.49 58.95,135.49 58.95,135.49
             58.95,135.49 58.95,131.73 58.95,131.73
             58.95,131.73 58.95,127.96 58.95,127.96
             58.95,127.96 76.51,127.96 76.51,127.96
             76.51,127.96 94.07,127.96 94.07,127.96
             94.07,127.96 94.07,131.73 94.07,131.73 Z
           M 71.87,4.52
           C 65.09,7.90 60.20,17.94 64.59,19.57
             65.60,20.07 66.47,21.58 66.47,23.08
             66.47,24.46 67.35,27.35 68.36,29.23
             69.99,32.37 69.86,33.12 67.35,38.01
             63.59,45.29 63.59,58.71 67.35,65.86
             73.50,77.53 82.91,83.30 95.95,83.30
             105.86,83.43 111.38,81.29 117.90,74.90
             122.92,70.00 127.93,59.84 127.93,54.20
             127.93,51.19 128.43,50.18 130.19,50.18
             131.32,50.18 133.95,49.30 135.83,48.30
             137.72,47.30 140.10,46.79 140.98,47.17
             143.48,48.17 146.75,42.78 146.62,37.64
             146.49,26.22 139.72,18.69 129.94,18.94
             122.04,19.19 118.53,20.45 118.78,23.33
             119.40,28.35 118.15,28.98 113.26,25.72
             110.75,23.96 106.11,21.83 103.10,21.08
             98.96,20.07 93.94,19.75 95.38,16.38
             92.12,2.38 82.40,-0.63 71.87,4.52 Z
           M 89.05,7.15
           C 91.56,9.41 93.06,12.17 93.44,14.93
             93.82,17.94 93.57,18.82 92.69,17.94
             92.06,17.31 91.86,15.51 91.43,14.05
             91.11,12.68 91.07,12.84 90.63,12.27
             90.62,12.26 90.20,11.77 89.60,11.30
             87.96,9.33 85.29,7.53 79.52,7.53
             75.00,7.53 70.36,11.04 66.85,16.94
             65.60,19.32 65.35,19.32 64.59,17.19
             63.46,14.43 66.73,9.41 71.87,6.27
             77.76,2.63 84.41,3.01 89.05,7.15 Z
           M 87.04,11.54
           C 91.31,15.43 92.44,19.82 89.43,20.83
             83.16,22.83 77.76,25.59 74.75,28.48
             72.87,30.23 71.12,31.36 70.99,31.24
             69.48,29.48 67.73,24.84 67.73,22.58
             67.73,15.93 74.63,8.91 81.15,8.78
             82.65,8.78 85.29,10.04 87.04,11.54 Z
           M 138.84,22.58
           C 144.61,26.09 147.25,36.26 143.99,43.28
             142.23,47.17 139.85,47.42 141.10,43.53
             143.36,36.51 143.11,33.25 140.22,28.85
             136.59,23.59 130.69,21.45 125.05,23.59
             120.28,25.47 117.02,23.33 121.79,21.45
             126.80,19.45 134.58,19.95 138.84,22.58 Z
           M 135.33,25.59
           C 143.74,29.98 143.48,43.53 134.83,47.42
             129.69,49.81 128.43,49.30 126.93,44.03
             126.05,41.40 124.04,37.13 122.29,34.63
             118.40,28.85 118.40,28.10 122.66,25.84
             127.05,23.46 130.94,23.33 135.33,25.59 Z
           M 46.94,79.94" />
</svg>
<svg style="display: none;" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 85 128">
  <path id="xl-table"
        d="M 16.25,9.91
           C 16.25,9.91 16.25,16.06 16.25,16.06
             16.25,16.06 8.12,16.94 8.12,16.94
             8.12,16.94 0.00,17.82 0.00,17.82
             0.00,17.82 0.00,28.24 0.00,28.24
             0.00,28.24 0.00,38.65 0.00,38.65
             0.00,38.65 8.12,39.53 8.12,39.53
             8.12,39.53 16.25,40.41 16.25,40.41
             16.25,40.41 16.25,45.18 16.25,45.18
             16.25,45.18 16.25,49.95 16.25,49.95
             16.25,49.95 8.12,50.82 8.12,50.82
             8.12,50.82 0.00,51.70 0.00,51.70
             0.00,51.70 0.00,62.12 0.00,62.12
             0.00,62.12 0.00,72.53 0.00,72.53
             0.00,72.53 8.12,73.41 8.12,73.41
             8.12,73.41 16.25,74.29 16.25,74.29
             16.25,74.29 16.25,79.69 16.25,79.69
             16.25,79.69 16.25,85.08 16.25,85.08
             16.25,85.08 8.12,85.96 8.12,85.96
             8.12,85.96 0.00,86.84 0.00,86.84
             0.00,86.84 0.00,97.25 0.00,97.25
             0.00,97.25 0.00,107.67 0.00,107.67
             0.00,107.67 8.12,108.55 8.12,108.55
             8.12,108.55 16.25,109.43 16.25,109.43
             16.25,109.43 16.25,114.95 16.25,114.95
             16.25,114.95 16.25,120.47 16.25,120.47
             16.25,120.47 42.50,120.47 42.50,120.47
             42.50,120.47 68.75,120.47 68.75,120.47
             68.75,120.47 68.75,114.95 68.75,114.95
             68.75,114.95 68.75,109.43 68.75,109.43
             68.75,109.43 76.88,108.55 76.88,108.55
             76.88,108.55 85.00,107.67 85.00,107.67
             85.00,107.67 85.00,97.25 85.00,97.25
             85.00,97.25 85.00,86.84 85.00,86.84
             85.00,86.84 76.88,85.96 76.88,85.96
             76.88,85.96 68.75,85.08 68.75,85.08
             68.75,85.08 68.75,79.69 68.75,79.69
             68.75,79.69 68.75,74.29 68.75,74.29
             68.75,74.29 76.88,73.41 76.88,73.41
             76.88,73.41 85.00,72.53 85.00,72.53
             85.00,72.53 85.00,62.12 85.00,62.12
             85.00,62.12 85.00,51.70 85.00,51.70
             85.00,51.70 76.88,50.82 76.88,50.82
             76.88,50.82 68.75,49.95 68.75,49.95
             68.75,49.95 68.75,45.18 68.75,45.18
             68.75,45.18 68.75,40.41 68.75,40.41
             68.75,40.41 76.88,39.53 76.88,39.53
             76.88,39.53 85.00,38.65 85.00,38.65
             85.00,38.65 85.00,28.24 85.00,28.24
             85.00,28.24 85.00,17.82 85.00,17.82
             85.00,17.82 76.88,16.94 76.88,16.94
             76.88,16.94 68.75,16.06 68.75,16.06
             68.75,16.06 68.75,9.91 68.75,9.91
             68.75,9.91 68.75,3.76 68.75,3.76
             68.75,3.76 42.50,3.76 42.50,3.76
             42.50,3.76 16.25,3.76 16.25,3.76
             16.25,3.76 16.25,9.91 16.25,9.91 Z
           M 16.25,28.24
           C 16.25,38.65 16.12,38.90 13.25,38.90
             6.88,38.90 6.25,38.02 6.25,28.24
             6.25,18.45 6.63,17.82 12.88,17.69
             12.88,17.69 16.25,17.57 16.25,17.57
             16.25,17.57 16.25,28.24 16.25,28.24 Z
           M 76.75,18.32
           C 78.38,18.95 78.75,21.08 78.75,28.24
             78.75,38.02 78.12,38.90 71.75,38.90
             68.88,38.90 68.75,38.65 68.75,28.24
             68.75,17.82 68.88,17.57 71.75,17.57
             73.38,17.57 75.62,17.95 76.75,18.32 Z
           M 5.00,28.24
           C 5.00,35.76 4.62,37.65 3.12,37.65
             1.62,37.65 1.25,35.76 1.25,28.24
             1.25,20.71 1.62,18.82 3.12,18.82
             4.62,18.82 5.00,20.71 5.00,28.24 Z
           M 83.75,28.24
           C 83.75,35.76 83.38,37.65 81.88,37.65
             80.38,37.65 80.00,35.76 80.00,28.24
             80.00,20.71 80.38,18.82 81.88,18.82
             83.38,18.82 83.75,20.71 83.75,28.24 Z
           M 16.25,62.12
           C 16.25,72.53 16.12,72.78 13.25,72.78
             6.88,72.78 6.25,71.91 6.25,62.12
             6.25,52.33 6.63,51.70 12.88,51.58
             12.88,51.58 16.25,51.45 16.25,51.45
             16.25,51.45 16.25,62.12 16.25,62.12 Z
           M 76.75,52.20
           C 78.38,52.83 78.75,54.96 78.75,62.12
             78.75,71.91 78.12,72.78 71.75,72.78
             68.88,72.78 68.75,72.53 68.75,62.12
             68.75,51.70 68.88,51.45 71.75,51.45
             73.38,51.45 75.62,51.83 76.75,52.20 Z
           M 5.00,62.12
           C 5.00,69.65 4.62,71.53 3.12,71.53
             1.62,71.53 1.25,69.65 1.25,62.12
             1.25,54.59 1.62,52.71 3.12,52.71
             4.62,52.71 5.00,54.59 5.00,62.12 Z
           M 83.75,62.12
           C 83.75,69.65 83.38,71.53 81.88,71.53
             80.38,71.53 80.00,69.65 80.00,62.12
             80.00,54.59 80.38,52.71 81.88,52.71
             83.38,52.71 83.75,54.59 83.75,62.12 Z
           M 16.25,97.25
           C 16.25,107.67 16.12,107.92 13.25,107.92
             6.88,107.92 6.25,107.04 6.25,97.25
             6.25,87.47 6.63,86.84 12.88,86.71
             12.88,86.71 16.25,86.59 16.25,86.59
             16.25,86.59 16.25,97.25 16.25,97.25 Z
           M 76.75,87.34
           C 78.38,87.97 78.75,90.10 78.75,97.25
             78.75,107.04 78.12,107.92 71.75,107.92
             68.88,107.92 68.75,107.67 68.75,97.25
             68.75,86.84 68.88,86.59 71.75,86.59
             73.38,86.59 75.62,86.96 76.75,87.34 Z
           M 5.00,97.25
           C 5.00,104.78 4.62,106.67 3.12,106.67
             1.62,106.67 1.25,104.78 1.25,97.25
             1.25,89.73 1.62,87.84 3.12,87.84
             4.62,87.84 5.00,89.73 5.00,97.25 Z
           M 83.75,97.25
           C 83.75,104.78 83.38,106.67 81.88,106.67
             80.38,106.67 80.00,104.78 80.00,97.25
             80.00,89.73 80.38,87.84 81.88,87.84
             83.38,87.84 83.75,89.73 83.75,97.25 Z" />
</svg>
<svg style="display: none;" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 63 85">
  <path id="small-table2"
        d="M 20.79,8.12
           C 20.79,8.12 19.91,16.25 19.91,16.25
             19.91,16.25 13.73,16.25 13.73,16.25
             13.73,16.25 7.56,16.25 7.56,16.25
             7.56,16.25 7.56,42.50 7.56,42.50
             7.56,42.50 7.56,68.75 7.56,68.75
             7.56,68.75 13.73,68.75 13.73,68.75
             13.73,68.75 19.91,68.75 19.91,68.75
             19.91,68.75 20.79,76.88 20.79,76.88
             20.79,76.88 21.67,85.00 21.67,85.00
             21.67,85.00 32.13,85.00 32.13,85.00
             32.13,85.00 42.59,85.00 42.59,85.00
             42.59,85.00 43.47,76.88 43.47,76.88
             43.47,76.88 44.35,68.75 44.35,68.75
             44.35,68.75 49.90,68.75 49.90,68.75
             49.90,68.75 55.44,68.75 55.44,68.75
             55.44,68.75 55.44,42.50 55.44,42.50
             55.44,42.50 55.44,16.25 55.44,16.25
             55.44,16.25 49.90,16.25 49.90,16.25
             49.90,16.25 44.35,16.25 44.35,16.25
             44.35,16.25 43.47,8.12 43.47,8.12
             43.47,8.12 42.59,0.00 42.59,0.00
             42.59,0.00 32.13,0.00 32.13,0.00
             32.13,0.00 21.67,0.00 21.67,0.00
             21.67,0.00 20.79,8.12 20.79,8.12 Z
           M 41.58,3.12
           C 41.58,4.63 39.69,5.00 32.13,5.00
             24.57,5.00 22.68,4.63 22.68,3.12
             22.68,1.62 24.57,1.25 32.13,1.25
             39.69,1.25 41.58,1.62 41.58,3.12 Z
           M 42.08,8.25
           C 42.46,9.38 42.84,11.62 42.84,13.25
             42.84,16.12 42.59,16.25 32.13,16.25
             21.67,16.25 21.42,16.12 21.42,13.25
             21.42,6.88 22.30,6.25 32.13,6.25
             39.31,6.25 41.45,6.62 42.08,8.25 Z
           M 42.84,71.75
           C 42.84,78.12 41.96,78.75 32.13,78.75
             22.30,78.75 21.42,78.12 21.42,71.75
             21.42,68.88 21.67,68.75 32.13,68.75
             42.59,68.75 42.84,68.88 42.84,71.75 Z
           M 41.58,81.88
           C 41.58,83.38 39.69,83.75 32.13,83.75
             24.57,83.75 22.68,83.38 22.68,81.88
             22.68,80.38 24.57,80.00 32.13,80.00
             39.69,80.00 41.58,80.38 41.58,81.88 Z" />
</svg>
<svg style="display: none;" xmlns="http://www.w3.org/2000/svg"
     viewBox="0 0 85 100">
  <path id="ms-table2"
        d="M 16.25,20.50
           C 16.25,20.50 16.25,26.00 16.25,26.00
             16.25,26.00 8.12,26.88 8.12,26.88
             8.12,26.88 0.00,27.75 0.00,27.75
             0.00,27.75 0.00,38.12 0.00,38.12
             0.00,38.12 0.00,48.50 0.00,48.50
             0.00,48.50 8.12,49.38 8.12,49.38
             8.12,49.38 16.25,50.25 16.25,50.25
             16.25,50.25 16.25,57.50 16.25,57.50
             16.25,57.50 16.25,64.75 16.25,64.75
             16.25,64.75 8.12,65.62 8.12,65.62
             8.12,65.62 0.00,66.50 0.00,66.50
             0.00,66.50 0.00,76.88 0.00,76.88
             0.00,76.88 0.00,87.25 0.00,87.25
             0.00,87.25 8.12,88.12 8.12,88.12
             8.12,88.12 16.25,89.00 16.25,89.00
             16.25,89.00 16.25,94.50 16.25,94.50
             16.25,94.50 16.25,100.00 16.25,100.00
             16.25,100.00 42.50,100.00 42.50,100.00
             42.50,100.00 68.75,100.00 68.75,100.00
             68.75,100.00 68.75,94.50 68.75,94.50
             68.75,94.50 68.75,89.00 68.75,89.00
             68.75,89.00 76.88,88.12 76.88,88.12
             76.88,88.12 85.00,87.25 85.00,87.25
             85.00,87.25 85.00,76.88 85.00,76.88
             85.00,76.88 85.00,66.50 85.00,66.50
             85.00,66.50 76.88,65.62 76.88,65.62
             76.88,65.62 68.75,64.75 68.75,64.75
             68.75,64.75 68.75,57.50 68.75,57.50
             68.75,57.50 68.75,50.25 68.75,50.25
             68.75,50.25 76.88,49.38 76.88,49.38
             76.88,49.38 85.00,48.50 85.00,48.50
             85.00,48.50 85.00,38.12 85.00,38.12
             85.00,38.12 85.00,27.75 85.00,27.75
             85.00,27.75 76.88,26.88 76.88,26.88
             76.88,26.88 68.75,26.00 68.75,26.00
             68.75,26.00 68.75,20.50 68.75,20.50
             68.75,20.50 68.75,15.00 68.75,15.00
             68.75,15.00 42.50,15.00 42.50,15.00
             42.50,15.00 16.25,15.00 16.25,15.00
             16.25,15.00 16.25,20.50 16.25,20.50 Z
           M 16.25,38.12
           C 16.25,48.50 16.12,48.75 13.25,48.75
             6.88,48.75 6.25,47.88 6.25,38.12
             6.25,28.37 6.63,27.75 12.88,27.62
             12.88,27.62 16.25,27.50 16.25,27.50
             16.25,27.50 16.25,38.12 16.25,38.12 Z
           M 76.75,28.25
           C 78.38,28.87 78.75,31.00 78.75,38.12
             78.75,47.88 78.12,48.75 71.75,48.75
             68.88,48.75 68.75,48.50 68.75,38.12
             68.75,27.75 68.88,27.50 71.75,27.50
             73.38,27.50 75.62,27.87 76.75,28.25 Z
           M 5.00,38.12
           C 5.00,45.62 4.62,47.50 3.12,47.50
             1.62,47.50 1.25,45.62 1.25,38.12
             1.25,30.62 1.62,28.75 3.12,28.75
             4.62,28.75 5.00,30.62 5.00,38.12 Z
           M 83.75,38.12
           C 83.75,45.62 83.38,47.50 81.88,47.50
             80.38,47.50 80.00,45.62 80.00,38.12
             80.00,30.62 80.38,28.75 81.88,28.75
             83.38,28.75 83.75,30.62 83.75,38.12 Z
           M 16.25,76.88
           C 16.25,87.25 16.12,87.50 13.25,87.50
             6.88,87.50 6.25,86.62 6.25,76.88
             6.25,67.12 6.63,66.50 12.88,66.38
             12.88,66.38 16.25,66.25 16.25,66.25
             16.25,66.25 16.25,76.88 16.25,76.88 Z
           M 76.75,67.00
           C 78.38,67.62 78.75,69.75 78.75,76.88
             78.75,86.62 78.12,87.50 71.75,87.50
             68.88,87.50 68.75,87.25 68.75,76.88
             68.75,66.50 68.88,66.25 71.75,66.25
             73.38,66.25 75.62,66.62 76.75,67.00 Z
           M 5.00,76.88
           C 5.00,84.38 4.62,86.25 3.12,86.25
             1.62,86.25 1.25,84.38 1.25,76.88
             1.25,69.38 1.62,67.50 3.12,67.50
             4.62,67.50 5.00,69.38 5.00,76.88 Z
           M 83.75,76.88
           C 83.75,84.38 83.38,86.25 81.88,86.25
             80.38,86.25 80.00,84.38 80.00,76.88
             80.00,69.38 80.38,67.50 81.88,67.50
             83.38,67.50 83.75,69.38 83.75,76.88 Z" />
</svg>
           </head>







<body class="body-page">
  <div style="display: flex;justify-content: center;align-items: center;width:100vw;">
</div>
<div class="bodyflex">
  <div style="display: grid;" class="restauplanglobal">
    <h2>CHOSE YOUR PLACE</h2>
    <div class="backplan">
            <form method="post" action="/store_radio_value" id="radioForm" style="display: block;" class="restauplan">
              <div class="line1">
<label style="margin: 1vw 0px 0px 0.35vw;">
        <input type="radio" id="s" name="l" value="l1c1">
          <svg class="icons" viewBox="0 0 110 85" >
          <use xlink:href="#m-table"  />
          </svg>
</label>
<label style="margin: 1vw 0px 0px  0.35vw;">
  <input type="radio" id="l" name="l" value="l1c2">
    <svg class="iconl" viewBox="0 0 85 128">
    <use xlink:href="#large-table"  />
    </svg>
</label>
<label style="margin: 1vw 0px 0px 0.35vw;">
  <input type="radio" id="l" name="l" value="l1c3">
    <svg class="iconl" viewBox="0 0 85 128">
    <use xlink:href="#large-table"  />
    </svg>
</label></div>
<div class="lines2">
  <div class="line2">
<label style="margin-left:  0.35vw;">
  <input type="radio" id="l" name="l" value="l2c1">
<svg  class="iconl" viewBox="0 0 100 85">
<use xlink:href="#ms-table"  />
</svg>
</label>
<label style="margin: 0px 0px 1vw 0.35vw;">
  <input type="radio" id="l" name="l" value="l3c1">
<svg class="iconl" viewBox="0 0 100 85">
<use xlink:href="#small-table"  />
</svg>
</label></div>
<div class="line2-2">
<label style="margin:1.5vw 0px 0px 1vw;">
  <input type="radio" id="l" name="l" value="l2c2">
<svg    class="iconl" viewBox="0 0 100 85">
<use xlink:href="#small-table2"  />
</svg>
</label>
<label style="margin-left: 0.6vw;">
<input type="radio" id="l" name="l" value="l2c2">
<svg class="iconl" viewBox="0 0 100 85">
<use xlink:href="#small-table2"  />
</svg>
</label></div>
<div class="line2-3">
  <label style="margin: 2vw 0px 0px 0.3vw;">
    <input type="radio" id="l" name="l" value="l3c2">
  <svg class="iconl" viewBox="0 0 100 85">
  <use xlink:href="#ms-table"  />
  </svg>
  </label>
  <label style="margin: 1.5vw 0px 0px 0.3vw;">
    <input type="radio" id="l" name="l" value="l4c1">
  <svg class="iconl" viewBox="0 0 100 85">
  <use xlink:href="#small-table"  />
  </svg>
  </label>
</div>
</div>
<div class="lines3">
  <div class="line3">
  <label style="margin: 0.7vw 0px 0px 0.35vw;">
    <input type="radio" id="l" name="l" value="l6c1">
  <svg class="iconl" viewBox="0 0 100 85">
  <use xlink:href="#ms-table"  />
  </svg>
  </label>
  <label style="margin: 2vw 0px 0px 0.35vw;">
    <input type="radio" id="l" name="l" value="l8c1">
  <svg class="iconl" viewBox="0 0 100 85">
  <use xlink:href="#ms-table"  />
  </svg>
  </label>
</div>
<div class="line3 2">
  <label style="margin: 0.7vw 0px 0px 0.35vw;">
    <input type="radio" id="l" name="l" value="l6c2">
  <svg class="iconl" viewBox="0 0 100 85">
  <use xlink:href="#small-table"  />
  </svg>
  </label>
  <label style="margin: 0px 0px 0px 0.35vw;">
    <input type="radio" id="l" name="l" value="l7c2">
  <svg  class="iconl" viewBox="0 0 100 85">
  <use xlink:href="#small-table"  />
  </svg>
  </label>
  <label style="margin: 0px 0px 0px 0.35vw;">
    <input type="radio" id="l" name="l" value="l8c2">
  <svg class="iconl" viewBox="0 0 100 85">
  <use xlink:href="#small-table"  />
  </svg>
  </label>
</div>
<div class="line3-3">
  <label style="margin:  0px 0px 0px 6.7vw;">
    <input type="radio" id="l" name="l" value="cercle1">
  <svg  class="iconc"   viewBox="0 0 148 138">
  <use xlink:href="#c-table"  />
  </svg>
  </label>
  <label style="margin: 0px 0px 0px 0.35vw;">
    <input type="radio" id="l" name="l" value="cercle2">
  <svg class="iconc"   viewBox="0 0 148 138">
  <use xlink:href="#c-table"  />
  </svg>
  </label>
  <label style="margin: 0px 0px 0px 0.35vw;">
    <input type="radio" id="l" name="l" value="cercle3">
  <svg class="iconc"   viewBox="0 0 148 138">
  <use xlink:href="#c-table"  />
  </svg>
  </label>
</div>
<div class="line3-4">
  <label style="margin: 0px 0px 0px 2vw;">
    <input type="radio" id="l" name="l" value="l8c3">
  <svg class="iconl"    viewBox="0 0 85 128">
  <use xlink:href="#xl-table"  />
  </svg>
  </label>
  <div style="display: grid;">
    <label style="margin: 0px 0px 0px 1vw;">
      <input type="radio" id="l" name="l" value="l7c4">
    <svg class="iconl"     viewBox="0 0 85 100">
    <use xlink:href="#ms-table2"  />
    </svg>
    </label>
    <label style="margin: 0px 0px 0px 1vw;">
      <input type="radio" id="l" name="l" value="l8c4">
    <svg class="iconl"    viewBox="0 0 85 128">
    <use xlink:href="#xl-table"  />
    </svg>
    </label>
  </div>
  <div style="display: grid;">
    <label style="margin: 0px 0px 0px 1vw;">
      <input type="radio" id="l" name="l" value="l7c5">
    <svg class="iconl"     viewBox="0 0 85 128">
    <use xlink:href="#xl-table"  />
    </svg>
    </label>
    <label style="margin: 0px 0px 0px 1vw;">
      <input type="radio" id="l" name="l" value="l8c5">
    <svg class="iconl"     viewBox="0 0 85 128">
    <use xlink:href="#xl-table"  />
    </svg>
    </label>
  </div>
</div>
</form></div>
            </div>
            
          </div>
          <div style="display: grid;">
     <h2 style="margin-left: 2.5vw;">LOOK FOR THE REAL PLAN</h2>     
<div style="height: 60vh; display: flex;width: 50vw;justify-content: center;">  
  
  <div style="display: flex;align-items: center;width: auto;">
<label  style="z-index: 1000; margin-right: -20px; height: max-content; width: max-content;background-color: transparent;display: flex;align-items: center;cursor: pointer;" class="scroll-button left-button"><img style="max-width: 30px;max-height: 30px;border-radius: 5px;background-color: orange;border: 1px solid white;" src="/img/back-button.png"  alt="prev" /></label>
</div>
  <div style="display: grid;" class="restauimg">
    
  
        <div class="image-container" style="display: flex;">
            <img width="40vw" height="50vh" class="imgglobal"src="/img/Restaurant-3D-Floor-Plan.jpg" alt="">
            <img width="40vw" height="50vh" class="imgglobal"src="/img/picp1.jpg" alt="">
            <img width="40vw" height="50vh" class="imgglobal"src="/img/picp2.jpg" alt="">
            <img width="40vw" height="50vh" class="imgglobal"src="/img/picp3.jpg" alt="">
            
    </div></div>
    <div style="height: 60vh; display: flex;align-items: center;">

    <label  style="z-index: 1000; margin-left: -20px; height: max-content; width: max-content;background-color: transparent;display: flex;align-items: center;cursor: pointer;" class="scroll-button right-button"><img style="max-width: 30px;max-height: 30px;border-radius: 5px;background-color: orange;border: 1px solid white;" src="/img/next-button.png"  alt="next" /></label>
    </div>
  </div>
</div></div>



            
            <script>
              //image prev and next 
              const imageContainer = document.querySelector('.image-container');
const leftButton = document.querySelector('.left-button');
const rightButton = document.querySelector('.right-button');

let scrollValue = 0;
const imageWidth = document.querySelector('.image-container img').clientWidth;

const maxScrollValue = (imageContainer.children.length - 1) * imageWidth;

leftButton.addEventListener('click', () => {
  if (scrollValue < 0) {
    scrollValue += imageWidth;
    imageContainer.style.transform = `translateX(${scrollValue}px)`;
  }
});

rightButton.addEventListener('click', () => {
  if (scrollValue > -maxScrollValue) {
    scrollValue -= imageWidth;
    imageContainer.style.transform = `translateX(${scrollValue}px)`;
  }
});

const addplan = () => {
            const selectedseat = document.querySelector('input[name = "l"]:checked');
            

            const additionalplan = {
                l: selectedseat.value,
               
            }
            console.log(additionalplan);

            localStorage.setItem('additionalplan', JSON.stringify(additionalplan));

            window.location.href = '/menu?cartCreation=true';
        }
const back = () => {
  window.location.href = '/indexlogout';
}
            </script>
             <div class="back-next">
              <button class="back move-btn" onclick="back()"><i class="fa-solid fa-arrow-left"></i> Back</button>
              <button class="next move-btn" onclick="addplan()">Next <i class="fa-solid fa-arrow-right"></i></button>
          </div>
     </body>
           </html>